@import url('https://fonts.googleapis.com/css?family=Rubik:300&subset=latin-ext');

body {
  background: #FFF;
  margin-bottom: 5em;
  color: #655;
}

body,
.idno-object h2,
.idno-body p {
  font-family: "Rubik", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.navbar {
  background-color: #FFF;
  color: #655;
  border: none;
  box-shadow: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

a {
  color: #655;
  text-decoration: none;
}

.entry-content a {
  display: inline-block;
  line-height: 1em;
  margin-bottom: -.1em;
  border-bottom: 1px dotted #655;
  color: #655;
}

a.contentTypeButton {
  color: #655;
}
