body {
  background: #FFF;
  margin-bottom: 5em;
  color: #655;
}

body > nav {
  background-color: #DA6;
  color: #FFF;
}

a {
  color: #655;
  text-decoration: none;
}

.entry-content a {
  display: inline-block;
  line-height: 1em;
  margin-bottom: -.1em;
  border-bottom: 1px dotted #655;
  color: #655;
}

a.contentTypeButton {
  color: #655;
}
